/***** Setup *****/

* {
  margin: 0;
}

:root {
  /* Primary Colors */
  --var_A: hsl(225, 100%, 94%); /* pale blue */
  --var_B: hsl(245, 75%, 52%); /* bright blue */

  /* Neutral Colors */
  --var_C: hsl(225, 100%, 98%); /* very pale blue */
  --var_D: hsl(224, 23%, 55%); /* desaturated blue */
  --var_E: hsl(223, 47%, 23%); /* dark blue */
  --var_F: #766CF1; /*a:active*/

  font-family: 'Red Hat Display', sans-serif; /* Weights: 500, 700, 900 */
  text-align: center;
  box-sizing: border-box;
}

/***** Styles *****/

body {
  background-image: url(./images/pattern-background-mobile.svg);
  background-position: top center;
  background-repeat: no-repeat;
  background-color: var(--var_A);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-links { display: none }

.fz-sm { font-size: 0.8rem; }

.fz-md, .fz-md-B { font-size: 0.9rem; }

.fz-lg { font-size: 1.3rem; }

.txtDecNun { text-decoration: none; }

.fw900 { font-weight: 900; }

.fw700 { font-weight: 700; }

.fw500 { font-weight: 500; }

.cVar-D { color: var(--var_D); }

.cVar-E { color: var(--var_E); }

.mB-md { margin-bottom: 20px; }

.container {
  background-color: #fff;
  max-width: 327px;
  border-radius: 20px;

}

.sub-container {
  padding: 25px 25px 15px;
}

.header-image {
  vertical-align: top;
  width: 100%;
  border-radius: 20px 20px 0 0;
  margin-bottom: 10px;
}

.heading-text {
  margin-bottom: 20px;
}

.summary-text {
  line-height: 1.6;
  padding: 0 10px;
}

.plan {
  background-color: var(--var_C);
  border-radius: 10px;
  max-width: 100%;
  height: 55px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 12px 10px 12px;
}

.plan-detail, .plan-update {
  flex: 1 1 auto;
}

.music-icon {
  width: 45px;
  height: 45px;
  margin-left: 8px;
}

.plan-detail {
  text-align: left;
  padding-left: 18px;
}

.plan-update {
  text-align: right;
  color: var(--var_B);
  margin-right: 8px;
}

.plan-update:active {
  color: var(--var_F);
}

.payment-button, .cancel {
  height: 48px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.payment-button {
  background-color: var(--var_B);
  color: #fff;
  margin-bottom: 15px;
  box-shadow: 0 25px 15px var(--var_A);
}

.payment-button:active {
  background-color: var(--var_F);
}

.cancel a:active {
  color: var(--var_E);
}

/***** Media Queries *****/

@media ( min-width: 600px ) {

  body { background-image: url(./images/pattern-background-desktop.svg); }

  .about-links {
    display: block;
    position: fixed;
    bottom: 1rem;
    color: var(--var_D);
  }

  .about-links a {
    color: var(--var_D);
    font-weight: 700;
    text-decoration: none;
  }

  .about-links a:hover { color: var(--var_E) }

  .about-links a:active { color: var(--var_F) }
  
  .container { max-width: 462px; }

  .fz-sm { font-size: 0.9rem; }

  .fz-md { font-size: 1rem; }

  .fz-lg { font-size: 1.8rem; }

  .mB-lg { margin-bottom: 40px; }

  .plan { height: calc(96px - 24px) }

  .sub-container { padding: 35px 50px 30px; }

}